# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường (QUAN TRỌNG: Không bao giờ push file này lên Git)
.env

# Virtual Environment
venv/
env/
.venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/

# Alembic
alembic/__pycache__/

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
